
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial';
    padding: 0px 15px;
    background-color:rgb(255, 255, 255);
}

.login{
    width: 500px;
    height: 500px;
    background: white;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login .topo-imagem{
    height: 210px;
    background: url(../img/topo.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
}
h1{
    font-size: 23px;
    color:black;
    text-align: center;
    margin:15px 0px 20px 15px;
    font-weight: 500;
}
form input{
    margin: 0px 20px;
    width: calc(100% - 60px);
    padding: 10px;
    border: 0;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    background: rgb(235, 234, 233);
}
form .bot-login{
    margin: 0px 20px;
    width: calc(100% - 50px);
    background: rgb(125, 237, 252);
    color:black;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    margin-bottom: 20px;
}